<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/add.css" />
	<link rel="stylesheet" href="/stylesheets/common.css" />
	<link rel="stylesheet" href="/stylesheets/font/iconfont.css" />
</head>
<body>
	<div id="list">
		<h1>
			<p>ECSSHOP管理中心 - 添加新商品</p>
			<img src="/images/jnsy.png" alt="" />
			<a href="#"> + 商品列表</a>
		</h1>
	</div>
	<div id="addcon">
		<ul class="chosecard">
			<li>通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<form action="#">
			<div>
				<i> </i>
				<span>商品名称：</span>
				<input type="text" />
				<div></div>
				<input type="hidden" />
				<select name="">
					<option value="1">字体样式</option>
					<option value="2">加粗</option>
					<option value="3">斜体</option>
					<option value="4">下划线</option>
					<option value="5">删除线</option>
				</select>
				<em>*</em>
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>商品货号：</span>
				<input type="text" />
				<br />
				<span>如果您不输入货号，系统将会自动生成一个唯一的货号</span>
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>商品分类：</span>
				<select name="">
					<option value="">请选择。。。</option>
					<option value="">钻石</option>
					<option value="">衬衫</option>
					<option value="">&nbsp;&nbsp;短袖衬衫</option>
					<option value="">&nbsp;&nbsp;长袖衬衫</option>
					<option value="">裤子</option>
					<option value="">&nbsp;&nbsp;休闲裤</option>
					<option value="">&nbsp;&nbsp;运动裤</option>
					<option value="">&nbsp;&nbsp;短裤</option>
				</select>
				<button class="btn">添加分类</button>
				<input type="text" style="height:19px;width:auto;float:none;margin:10px 0 0"/>
				<button class="btn">确定</button>
				<button class="btn">分类管理</button>
				<button class="btn"><<</button>
				<em>*</em>
			</div>
			<div>
				<i></i>
				<span>扩展分类：</span>
				<button style="background:red;width:66px;height:26px;margin-top:6px;border:none;color:#fff">添加</button>
			</div>
			<div>
				<i></i>
				<span>商品品牌：</span>
				<select name="">
					<option value="">请选择。。。</option>
					<option value="">钻石</option>
					<option value="">衬衫</option>
					<option value="">&nbsp;&nbsp;短袖衬衫</option>
					<option value="">&nbsp;&nbsp;长袖衬衫</option>
					<option value="">裤子</option>
					<option value="">&nbsp;&nbsp;休闲裤</option>
					<option value="">&nbsp;&nbsp;运动裤</option>
					<option value="">&nbsp;&nbsp;短裤</option>
				</select>
				<button class="btn">添加品牌</button>
				<input type="text" type="text" style="height:19px;width:auto;float:none;margin:10px 0 0"/>
				<button class="btn">确定</button>
				<button class="btn">分类管理</button>
				<button class="btn"><<</button>
			</div>
			<div>
				<i></i>
				<span>本店售价：</span>
				<input type="text" style="margin-right:5px;"/>
				<button>按市场价值计算</button>
				<em>*</em>
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>会员价格：</span>
				<span >注册用户</span>
				<input type="text" style="width:62px;margin-right: 0;"/> 
				<span > 代销用户</span> 
				<input type="text" style="width:62px;margin-right: 0;"/>
				<span> VIP</span>  
				<input type="text" style="width:62px;margin-right: 0;"/>
				<br />
				<span>会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>商品优惠价格：</span>
				<span style="line-height:20px;margin-top:10px">[+1]优惠数量</span> 
				<input type="text" style="width:62px;margin-right: 0;" /> 
				<span style="line-height:20px;margin-top:10px"> 优惠价格</span> 
				<input type="text" style="width:62px;margin-right: 0;"/>
				<br />
				<span>购买数量达到优惠数量时享受的优惠价格</span>
			</div>
			<div>
				<span>市场售价：</span>
				<input type="text" style="margin-right: 5px;"/>
				<button style="width:60px;background: #ccc;margin-top:10px;">取整数</button>
			</div>
			<div>
				<span>虚拟销量：</span>
				<input type="text" />
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>赠送消费积分数：</span>
				<input type="text" />
				<br />
				<span>购买该商品时赠送消费积分数,-1表示按商品价格赠送</span>
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>赠送等级积分数：</span>
				<input type="text" />
				<span>购买该商品时赠送等级积分数,-1表示按商品价格赠送</span>
			</div>
			<div>
				<i class="iconfont icon-bangzhu-yin"></i>
				<span>积分购买金额：</span>
				<input type="text" />
				<span>(此处需填写金额)购买该商品时最多可以使用积分的金额</span>
			</div>
			<div>
				<input type="checkbox" style="width:auto;height:auto;margin:16px 0 0;"/>
				<span>促销价：</span>
				<input type="text" />
			</div>
			<div>
				<span>促销日期：</span>
				<input type="text" style="width:62px;margin-right: 0;"/>
				<button style="background:red;width:66px;height:26px;margin:8px 10px 0;border:none;color:#fff;float:left">选择</button>
				<span>-</span>
				<input type="text" style="width:62px;margin-right: 0;"/>
				<button style="background:red;width:66px;height:26px;border:none;color:#fff;float:left;margin:8px 10px 0">选择</button>
			</div>
			<div>
				<span> 上传商品图片：</span>
				<input type="file" style="float:none"/>
				<br />
				<input type="text" placeholder="商品图片外部URL"/>
			</div>
			<div style="margin-bottom: 44px;">
				<span style="padding-bottom: 45px;">上传商品缩略图：</span>
				<input type="file" style="float:none" />
				<br />
				<input type="text" placeholder="商品缩略图外部URL"/>
			<br /><br />
				<input type="checkbox" style="width:auto;height:auto;margin:5px 10px 5px 0;float:left" />
				<p style="line-height:20px;float:left">自动生成商品缩略图</p>
			</div>
			<div>
				<section style="margin:0 auto;width:350px">
					<input type="submit" style="background:red;width:66px;height:26px;margin-top:6px;border:none;color:#fff" value="确定"/>
					<button style="background:red;width:66px;height:26px;margin-top:6px;border:none;color:#fff">重置</button>
				</section>
			</div>
		</form>
		<form action="#">
			<img src="/images/1.jpg" alt="" />
		</form>
		<form action="#">
			<img src="/images/2.jpg" alt="" />
		</form>
		<form action="#">
			<img src="/images/3.jpg" alt="" />
		</form>
		<form action="#">
			<img src="/images/4.jpg" alt="" />
		</form>
		<form action="#">
			<img src="/images/5.jpg" alt="" />
		</form>
		<form action="#">
			<img src="/images/6.jpg" alt="" />
		</form>
		<form action="#">
			<img src="/images/7.jpg" alt="" />
		</form>
	</div>
	<div id="bottom">
		<p>共执行 9 个查询，用时 0.024420 秒，Gzip 已禁用，内存占用 3.585 MB</p>
		<p>版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。</p>
	</div>
</body>
</html>
<script src="javascripts/jquery.min.js"></script>
<script src="/javascripts/add.js"></script>