<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>商品列表</title>
	<link rel="stylesheet" href="/stylesheets/list.css" />
	<link rel="stylesheet" href="/stylesheets/common.css" />
	<link rel="stylesheet" href="/stylesheets/font/iconfont.css" />
</head>
<body>
	<div id="list">
		<h1>
			<p>ECSSHOP管理中心 - 商品列表</p>
			<img src="/images/jnsy.png" alt="" />
			<a href="#"> + 添加新商品</a>
		</h1>
		
	</div>
	<div class="serch">
		<i class="iconfont icon-49"></i>
		<em>关键字</em><input type="text" /><button>搜索</button>
	</div>
	<table cellpadding="0" cellspacing="0" border="#ddd">
		<thead>
			<tr>
				<td>
					<input type="checkbox" class="checkall"/>
					<span>编号</span>
				</td>
				<td>商品名称</td>
				<td>货号</td>
				<td>价格</td>
				<td>上架</td>
				<td>精品</td>
				<td>新品</td>
				<td>热销</td>
				<td>推荐排序</td>
				<td>库存</td>
				<td>虚拟销量</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="checkbox"/>
					<span>123</span>
				</td>
				<td>
					jdkjf
				</td>
				<td>
					0289384938
				</td>
				<td>
					783.3
				</td>
				<td>
					<i class="iconfont icon-duigou"></i>
				</td>
				<td>
					<i class="iconfont icon-duigou"></i>
				</td>
				<td>
					<i class="iconfont icon-error"></i>
				</td>
				<td>
					<i class="iconfont icon-duigou"></i>
				</td>
				<td>
					78
				</td>
				<td>7</td>
				<td>0</td>
				<td class="make">
					<i class="iconfont icon-xiangqingye"></i>
					<i class="iconfont icon-pencircle"></i>
					<i class="iconfont icon-edit"></i>
					<i class="iconfont icon-shanchu"></i>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/list.js"></script>