* {
  margin: 0;
  padding: 0; }
  iframe{
  	border:none;
  }
a {
  text-decoration: none;
  color: #fff; }
#list h1 {
  height: 26px;
  padding: 7px 10px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  border-bottom: 1px solid #ccc; }
  #list h1 p {
    width: 280px;
    float: left;
    margin-right:10px;
    color: #474747; }
  #list h1 img {
    float: left; }
  #list h1 a {
    background: #c43926;
    border-radius: 5px;
    float: right;
    padding: 0 10px;
    font-size: 14px; }
    #list h1 a:hover{
    	background:#ca4d3c
    }
#bottom{
	margin:10px 0 35px;border:1px solid #ccc;height:40px;font-size: 12px;color:#969896;padding:15px 0;line-height:18px;background:#f3f3f3 url(../images/th_bg.gif) repeat-x;
}
	#bottom>p{
		text-align: center;width:99%;
	}

